body {
 background-color: rgb(250, 235, 235);
}

header {
    display: flex;
    flex-direction: row;
}

.header-blog {
    font-size: 22px;
    color: orange;
    font-family: 'playfair display', serif;

}

.post-button {
    background-color: #F46F4C;
    color: #FFFFFF;
    position: relative;
}

.input-box { 
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto; 
}

.input-name {
    font-size: 20px;
    padding: 5px;
    color: black;
    
}

.input-text {
    font-size: 14px;
    font-style: italic;
}

.article-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.article-name {
    font-size: 20px;
    padding: 5px;
    color: black;
}

.article-text {
    font-size: 14px;
    font-style: italic;
}

.del-button {
    background-color: #F46F4C;
    color: #FFFFFF;
    position: relative;
}


footer {
    background-color: rgb(110, 110, 110);
    font-family: 'playfair display', serif;
    font-size: 14px;
    text-align: center;
}